* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-image: linear-gradient(to right, #2be75d, #105425); ;
  padding: 20px;
  text-align: center;
}

article {
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article:hover {
  background-color: #e0f7e0;
}

.thumbnail img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  background: #f0f0f0;
}

h1 {
  color: #ffffff;
  font-size: 3em;
  padding: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}


  